[submodule "vendor/decking"]
	path = vendor/decking
	url = https://github.com/ahmedomarjee/decking.git
[submodule "notes"]
	path = notes
	url = https://github.com/mrflip/big_data_for_chimps-code.wiki.git
